/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--primary-font), Helvetica, sans-serif;

  /* Точечный бэкграунд */
  background-image: repeating-linear-gradient(
      0deg,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  /* height: 100vh; */
  display: grid;
  justify-content: center;
}

.theme-menu {
  background-color: white;
  text-align: center;
  font-family: var(--accent-font);
  border: 4px black solid;
  min-height: 323px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 696px;
  max-height: 364px;
  margin-top: 102px;
  margin-bottom: 102px;
  padding-bottom: 25px;
}

.header-title {
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header-text {
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.theme-menu__button {
  border: none;
  background-color: none;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.theme-menu__button:hover {
  opacity: 0.5;
}

.theme-menu__button:disabled::before {
  content: "▶";
  animation: arrow 0.5s infinite linear alternate-reverse;
  animation-timing-function: ease-in-out;
  display: inline-block;
}

@keyframes arrow {
  from {
    transform: translateX(0); /* Starting position */
  }
  to {
    transform: translateX(4px); /* Ending position */
  }
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0 auto;
}

.theme-menu__item {
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 4px black solid;
  max-width: min-content;
}

.card-img {
}

.card__image-container {
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  justify-content: end;
}

.image-container__lable {
  display: block;
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  margin: 20px;

  opacity: 0.5;
  mix-blend-mode: hard-light;
}

/* .card__image-container::before {
  content: "</HTML>";
  display: block;
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
} */

.card-title {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 2px 0;
  padding-left: 10px;
}

/* .card-title::after {
  content: "HTML";
  position: absolute;
} */

.card-text {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.card__footer-text {
  margin-block-start: 27px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}
.card__btn-container {
  align-self: end;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.card-btn {
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  border: 2px solid black;
  padding: 5px 13px;
  width: 130px;
  height: 38px;
}

.card-btn-heart {
  align-self: end;
  margin-right: 5px;
}

/* .card-btn::before {
  content: "heart";
} */

.card__content {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__btn {
  margin-top: 54px;
  background: white;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  border: 2px solid black;
  padding: 18.5px 10px;
  /* width: 130px;
  height: 38px; */
  margin-bottom: 100px;
}

/* А может сделаешь просто паддинг на всю страницу нет? 
или через паддинг будет не резиново?  */
